---
services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:{{ nextcloud_version }}
    container_name: nextcloud
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - PUID={{ nextcloud_puid }}
      - PGID={{ nextcloud_pgid }}
      - TZ={{ nextcloud_timezone }}
    volumes:
      - {{ nextcloud_host_volume }}:/config
      - {{ nextcloud_data_volume }}:/data
    ports:
      - {{ nextcloud_http_port }}:80
      - {{ nextcloud_https_port }}:443
    depends_on:
      - redis
{% if nextcloud_db_type != 'sqlite3' %}
      - database
{% endif %}

{% if nextcloud_db_type != 'sqlite3' %}
  database:
{% if nextcloud_db_type == 'mysql' %}
    image: lscr.io/linuxserver/mariadb:{{ nextcloud_mariadb_version }}
    container_name: nextcloud-mariadb
{% elif nextcloud_db_type == 'pgsql' %}
    image: postgres:{{ nextcloud_postgres_version }}
    container_name: nextcloud-postgres
{% endif %}
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    environment:
{% if nextcloud_db_type == 'mysql' %}
      - PUID={{ nextcloud_puid }}
      - PGID={{ nextcloud_pgid }}
      - TZ={{ nextcloud_timezone }}
      - MYSQL_ROOT_PASSWORD=${DATABASE_ROOT_PASSWORD}
      - MYSQL_DATABASE={{ nextcloud_db_name }}
      - MYSQL_USER={{ nextcloud_db_username }}
      - MYSQL_PASSWORD=${DATABASE_PASSWORD}
    volumes:
      - {{ nextcloud_db_volume }}:/config
    ports:
      - {{ nextcloud_db_port }}:3306
{% elif nextcloud_db_type == 'pgsql' %}
      POSTGRES_USER={{ nextcloud_db_username }}
      POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      POSTGRES_DB={{ nextcloud_db_name }}
    volumes:
      - "{{ nextcloud_db_volume }}:/var/lib/postgresql/data/"
    ports:
      - {{ nextcloud_db_port }}:5432
{% endif %}
{% endif %}

  redis:
    image: redis:{{ nextcloud_redis_version }}
    container_name: nextcloud-redis
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    ports:
      - "{{ nextcloud_redis_port }}:6379"
